* {
    box-sizing: border-box;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f0f2f5;
    height: 720px;
    width: 1011;
    justify-content: center;
    
}
.main_div{
    display: flex;
    flex-flow: column;
    height: 536px;
    width: 1011px;
    padding: 20px 0px;
    justify-content: center;
}
.sectionform{
    width: 396px;
    height: 350px;
    text-align: center;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin: 40px 0 0;
    padding: 10px 0 24px;
}
.sectionform input{
    width: 350px;
    height: 52px;
    padding: 14px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    text-align: justify;
    font-size: 17px;
    outline-color: #1877f2;
    outline-width: 0.5px;
}
input:focus{
    caret-color: blue;
}
div .principals {
    padding: 6px 0;
}

div .button_div{
    padding-top: 6px;
}
.button1{
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 350px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.button2{
    background-color: #36a420;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    height: 48px;
    width: 190px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
button a{
    color: white;
    text-decoration-line: none;
}
.miss_pass{
    margin-top: 16px;
    font-size: 14px;
}
.miss_pass a{
    color: #1877f2;
    text-decoration-line: none;
}
.miss_pass a :hover{
    text-decoration-line:underline;
}
.line{
    height: 1px;
    width: 350px;
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}
.create{
    width: 396px;
    height: 19px;
    margin-top: 28px;
    font-size: 14px;
}
.create > a{
    color: black;
    font-weight: bold;
    text-decoration-line: none;
}
.desc{
    height: 286px;
    width: 580px;
    padding-top: 90px;
    padding-right: 0px;
    text-align: center;
}
.logo{
    height: 106px;
    width: auto;
    margin: -28px;
}
.text_desc{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
    margin-top: 16px;
}
footer {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 0 270px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul a {
    text-decoration: none;
    color: #8a8d91
  }
  
  ul li {
    color: #737373;
    padding-right: 10px;
  }
  
  .forFlex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .languages {
    padding-top: 30px;
    padding-bottom: 8px;
  }
  
  .childFooter {
    padding-top: 8px;
  }
  
  .line2 {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .separateText li {
    padding-right: 20px;
    line-height: 1.6;
  }
  
  .meta {
    font-size: 11px;
    margin-top: 20px;
      margin-bottom: 20px;
      color: #737373;
  }
  @media (min-width: 600px){
      .main_div{
          flex-flow: row wrap;
          align-items: center;
      }
      .desc {
         padding-right: 32px;
         text-align: justify;
      }
  }